@model SUP_INV1._0.Models.OTHERSSALESRECORD

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OTHERSSALESRECORD</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OTHRecName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OTHRecName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OTHRecSoldQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OTHRecSoldQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OTHRecDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OTHRecDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OTHRecStockInPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OTHRecStockInPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OTHRecStockOutPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OTHRecStockOutPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OTHRecDateSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OTHRecDateSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OTHRecSupplierEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OTHRecSupplierEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OTHRecID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
