@model SUP_INV1._0.Models.PREPAREDRECORD

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PREPAREDRECORD</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecSoldAmountQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecSoldAmountQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecSt_InPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecSt_InPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecSt_OutPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecSt_OutPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecDateSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecDateSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecSupplierEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecSupplierEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
