@model SUP_INV1._0.Models.FARMPRODUCTSSALESRECORD

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FARMPRODUCTSSALESRECORD</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPRecName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPRecName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPRecSoldAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPRecSoldAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPRecDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPRecDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPRecStockInPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPRecStockInPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPRecStockOutPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPRecStockOutPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPRecDateSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPRecDateSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPRecSupplierEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPRecSupplierEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FPRecID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
