@model SUP_INV1._0.Models.PHARMACEUTICALSSALESRECORD

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PHARMACEUTICALSSALESRECORD</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHARecName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHARecName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHARecSoldQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHARecSoldQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHARecDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHARecDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHARecStockInPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHARecStockInPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHARecStockOutPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHARecStockOutPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHARecDateSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHARecDateSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHARecSupplierEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHARecSupplierEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PHARecID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
