@model SUP_INV1._0.ViewModel.ViewModel1

<div class="cont-FP-Calc">
    <h3>
        Others Category Current Status
    </h3>
</div>
<div class="cont-FP-Calc">
    <div class="Col-FP-Calc-0">
        <ul>

            <h4>
                Total Number Of Records:@Model.TotNumItemsOth     Different Items Are Recorded
            </h4>


            <h4>
                Total Amount Of Items: @Model.TotQuantityOfItemsOth    OF Total Amount Recorded
            </h4>

            <h4>
                Total Stock In Price Of Items: @Model.TotalStInPriceOth    Birr
            </h4>

            <h4>
                Total Stock Out Price Of Items:@Model.TotalStOPriceOth     Birr
            </h4>

            <h4>
                The Net Income From This Category Is Expected To Be: @Model.NetIncomeOth    Birr
            </h4>

        </ul>
    </div>

    <div class="Col-FP-Calc-0">
        <ul>
        </ul>
    </div>
</div>
<div class="cont-FP-Calc">
    <h3>
        Today's Sold Items
    </h3>
</div>


<div class="cont-FP-Calc">

    <div class="Col-FP-Calc-0">

        <table>
            <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Total Quantity Sold</th>
                    <th>Total Stock In Price </th>
                    <th>Total Stock Out Price</th>
                    <th>TotalProfit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OTSoldItemsToday)
                {
                    <tr>

                        <td>@item.OTProNameToday</td>
                        <td>@item.OTTotQuaSoldToday</td>
                        <td>@item.OTStockinpriceToday</td>
                        <td>@item.OTStockoutpriceToday</td>
                        <td>@item.OTNetIncomeFpToday</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="cont-FP-Calc">
    <h3>
        Sales Report
    </h3>
</div>


<div class="cont-FP-Calc">
    <div class="Col-FP-Calc-1">
        <h2>Most Sold Items</h2>

        <table>
            <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Total Quantity Sold</th>
                    <th>Total Stock In Price </th>
                    <th>Total Stock Out Price</th>
                    <th>TotalProfit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OTMostSoldItems)
                {
                    <tr>

                        <td>@item.OTProName</td>
                        <td>@item.OTTotQuaSold</td>
                        <td>@item.OTTotStockinprice</td>
                        <td>@item.OTTotStockoutprice</td>
                        <td>@item.OTNetIncomeFp</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="Col-FP-Calc-2">
        <h2>Most Sold Items In The Last Day</h2>

        <table>
            <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Total Quantity Sold</th>
                    <th>Total Stock In Price </th>
                    <th>Total Stock Out Price</th>
                    <th>TotalProfit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OTMostSoldItemsPreDay)
                {
                    <tr>

                        <td>@item.OTProNamePreDay</td>
                        <td>@item.OTTotQuaSoldPreDay</td>
                        <td>@item.OTStockinpricePreDay</td>
                        <td>@item.OTStockoutpricePreDay</td>
                        <td>@item.OTNetIncomeFpPreDay</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>





</div>

<div class="cont-FP-Calc">
    <div class="Col-FP-Calc-1">
        <h2>Most Sold Items In The Last Week</h2>

        <table>
            <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Total Quantity Sold</th>
                    <th>Total Stock In Price </th>
                    <th>Total Stock Out Price</th>
                    <th>TotalProfit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OTMostSoldItemsPreWeek)
                {
                    <tr>

                        <td>@item.OTProNamePreWeek</td>
                        <td>@item.OTTotQuaSoldPreWeek</td>
                        <td>@item.OTStockinpricePreWeek</td>
                        <td>@item.OTStockoutpricePreWeek</td>
                        <td>@item.OTNetIncomeFpPreWeek</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="Col-FP-Calc-2">
        <h2>Most Sold Items In The Last Two Weeks</h2>

        <table>
            <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Total Quantity Sold</th>
                    <th>Total Stock In Price </th>
                    <th>Total Stock Out Price</th>
                    <th>TotalProfit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OTMostSoldItemsPreTwoWeeks)
                {
                    <tr>

                        <td>@item.OTProNamePreTwoWeeks</td>
                        <td>@item.OTTotQuaSoldPreTwoWeeks</td>
                        <td>@item.OTStockinpricePreTwoWeeks</td>
                        <td>@item.OTStockoutpricePreTwoWeeks</td>
                        <td>@item.OTNetIncomeFpPreTwoWeeks</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<div class="cont-FP-Calc">
    <div class="Col-FP-Calc-1">
        <h2>Most Sold Items In The Last ThreeWeeks</h2>

        <table>
            <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Total Quantity Sold</th>
                    <th>Total Stock In Price </th>
                    <th>Total Stock Out Price</th>
                    <th>TotalProfit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OTMostSoldItemsPreThreeWeeks)
                {
                    <tr>

                        <td>@item.OTProNamePreThreeWeeks</td>
                        <td>@item.OTTotQuaSoldPreThreeWeeks</td>
                        <td>@item.OTStockinpricePreThreeWeeks</td>
                        <td>@item.OTStockoutpricePreThreeWeeks</td>
                        <td>@item.OTNetIncomeFpPreThreeWeeks</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="Col-FP-Calc-2">
        <h2>Most Sold Items In The Last Month</h2>

        <table>
            <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Total Quantity Sold</th>
                    <th>Total Stock In Price </th>
                    <th>Total Stock Out Price</th>
                    <th>TotalProfit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OTMostSoldItemsPreMonth)
                {
                    <tr>

                        <td>@item.OTProNamePreMonth</td>
                        <td>@item.OTTotQuaSoldPreMonth</td>
                        <td>@item.OTStockinpricePreMonth</td>
                        <td>@item.OTStockoutpricePreMonth</td>
                        <td>@item.OTNetIncomeFpPreMonth</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>









<div class="cont-FP-Calc">

    <h3>
        Financial Sales Report
    </h3>

</div>

<div class="cont-FP-Calc">

    <div class="Col-FP-Calc-0">
        <ul>
            <h3>
                Total Quantity Sold
            </h3>
            <h5>
                Today:@Model.OTTotalAmountSoldToday
            </h5>

            <h5>
                In The Previous Day: @Model.OTTotalAmountSoldYesterday
            </h5>

            <h5>
                In The Previous Week:@Model.OTTotalAmountSoldPastWeek
            </h5>

            <h5>
                In The Previous Two Weeks:@Model.OTTotalAmountSoldPastTwoWeeks
            </h5>

            <h5>
                In The Previous Three Weeks:@Model.OTTotalAmountSoldPastThreeWeeks
            </h5>

            <h5>
                In The Previous Month:@Model.OTTotalAmountSoldPastMonth
            </h5>
        </ul>
    </div>


    <div class="Col-FP-Calc-0">
        <ul>
            <h3>
                Total Stock In Price Of Sold Items
            </h3>

            <h5>
                Today:@Model.OTTotalStockInPriceOfItemsSoldToday
            </h5>

            <h5>
                Previous Day:@Model.OTTotalStockInPriceOfItemsSoldYesterday
            </h5>

            <h5>
                Previous Week:@Model.OTTotalStockInPriceOfItemsSoldLastWeek
            </h5>

            <h5>
                Previous Two Weeks:@Model.OTTotalStockInPriceOfItemsSoldLastTwoWeeks
            </h5>

            <h5>
                Previous Three Weeks:@Model.OTTotalStockInPriceOfItemsSoldLastThreeWeeks
            </h5>

            <h5>
                Previous Month:@Model.OTTotalStockInPriceOfItemsSoldLastMonth
            </h5>
        </ul>
    </div>
</div>



<div class="cont-FP-Calc">

    <div class="Col-FP-Calc-0">
        <ul>
            <h3>
                Total Stock Out Price Of Sold Items
            </h3>

            <h5>
                Today:@Model.OTTotalStockOutPriceOfItemsSoldToday
            </h5>

            <h5>
                Previous Day:@Model.OTTotalStockOutPriceOfItemsSoldYesterday
            </h5>

            <h5>
                Previous Week:@Model.OTTotalStockOutPriceOfItemsSoldLastWeek
            </h5>

            <h5>
                Previous Two Weeks:@Model.OTTotalStockOutPriceOfItemsSoldLastTwoWeeks
            </h5>

            <h5>
                Previous Three Weeks:@Model.OTTotalStockOutPriceOfItemsSoldLastThreeWeeks
            </h5>

            <h5>
                Previous Month:@Model.OTTotalStockOutPriceOfItemsSoldLastMonth
            </h5>
        </ul>
    </div>


    <div class="Col-FP-Calc-0">
        <ul>
            <h3>
                Total Income Of Items Sold
            </h3>

            <h5>
                Today:@Model.OTTotalIncomeOfItemsSoldToday
            </h5>

            <h5>
                Previous Day:@Model.OTTotalIncomeOfItemsSoldYesterday
            </h5>

            <h5>
                Previous Week:@Model.OTTotalIncomeOfItemsSoldLastWeek
            </h5>

            <h5>
                Previous Two Weeks:@Model.OTTotalIncomeOfItemsSoldLastTwoWeeks
            </h5>

            <h5>
                Previous Three Weeks:@Model.OTTotalIncomeOfItemsSoldLastThreeWeeks
            </h5>

            <h5>
                Previous Month:@Model.OTTotalIncomeOfItemsSoldLastMonth
            </h5>
        </ul>
    </div>
</div>



<div class="container">
    <div class="column">
        <div id="chart-container">
            <canvas id="mostSoldChart"></canvas>
        </div>

    </div>
    <div class="column">
        <div id="chart-container2">
            <canvas id="mostSoldChart2"></canvas>
        </div>
        <h2>Column 2</h2>
        <p>Some text for column 2.</p>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script>
    const ctx = document.getElementById('mostSoldChart').getContext('2d');
    const data = {
        labels: @Html.Raw(Json.Serialize(Model.OTMostSoldItemsPreDay.Select(x => x.OTProNamePreDay).ToArray())),
        datasets: [{
            data: @Html.Raw(Json.Serialize(Model.OTMostSoldItemsPreDay.Select(x => x.OTTotQuaSoldPreDay).ToArray())),
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)'
                // Add more colors as needed
            ],
            hoverOffset: 4
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Most Sold Items Yesterday'
                },
                legend: {
                    display: true,
                    position: 'bottom' //Place legend at the bottom
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            let label = context.label || '';
                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed.y !== null) {
                                label += context.parsed.y + ' (' + context.parsed.percentage.toFixed(2) + '%)';
                            }
                            return label;
                        }
                    }
                }

            },
            maintainAspectRatio: false
        }
    };

    new Chart(ctx, config);

</script>




<h2>Transaction Summary</h2>


<form method="post">
    <label for="selectedDate">Select Date:</label>
    <select id="selectedDate" name="selectedDate">
    </select>
    <button type="submit">Get Total</button>
</form>

<div class="cont-FP-Calc">

    <h3>
        Expired Items
    </h3>

</div>


<div class="cont-FP-Calc">
    <div class="Col-FP-Calc-0">

        <table>
            <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Total Quantity </th>
                    <th>Total Stock In Price </th>
                    <th>Total Stock Out Price</th>
                    <th>TotalProfit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OTItemExpired)
                {
                    <tr>

                        <td>@item.OTItemNameExp</td>
                        <td>@item.OTItemQuantityExp</td>
                        <td>@item.OTItemStockinpriceExp</td>
                        <td>@item.OTItemStockoutpriceExp</td>
                        <td>@item.OTItemNetIncomeExp</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="cont-FP-Calc">

    <h3>
        Sold Out Items
    </h3>

</div>


<div class="cont-FP-Calc">
    <div class="Col-FP-Calc-0">

        <table>
            <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Total Quantity </th>
                    <th>Total Stock In Price </th>
                    <th>Total Stock Out Price</th>
                    <th>TotalProfit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OTvarSoldOutItems)
                {
                    <tr>

                        <td>@item.OTItemNameSoldout</td>
                        <td>@item.OTItemQuantitySoldout</td>
                        <td>@item.OTItemStockinpriceSoldout</td>
                        <td>@item.OTItemStockoutpriceSoldout</td>
                        <td>@item.OTItemNetIncomeSoldout</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>






















