@model SUP_INV1._0.Models.PACKEDFOODSSALESRECORD

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PACKEDFOODSSALESRECORD</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PARecName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PARecName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PARecSoldQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PARecSoldQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PARecDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PARecDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PARecStockInPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PARecStockInPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PARecStockOutPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PARecStockOutPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PARecDateSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PARecDateSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PARecSupplierEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PARecSupplierEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PARecID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
